AddHandler application/x-httpd-php .appcache
AddType application/x-httpd-php .appcache
AddType text/cache-manifest .appcache

<IfModule mod_expires.c>
	Header set cache-control: public
	ExpiresActive on
	ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>
